<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapDemoSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapDemoSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44331/SoapDemo.asmx" binding="basicHttpBinding"
                bindingConfiguration="SoapDemoSoap" contract="SoapDemoService.SoapDemoSoap"
                name="SoapDemoSoap" />
        </client>
    </system.serviceModel>
</configuration>